# BOOK RECOMMENDATION SYSTEM

## Import Libraries

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df = pd.read_csv("../Data/all raw data/all_raw_data.csv")
df.head()

,Title,Author,Genres,Avg_Rating,Num_Ratings,Num_Reviews,Description,Book_URL
0,John Adams,"David McCullough, David McCullough","History, Biography, Nonfiction, American Histo...",4.08,"375,634 ratings","7,691 reviews","The enthralling, often surprising story of Joh...",https://www.goodreads.com/book/show/2203.John_...
1,The Rise and Fall of the Third Reich: A Histor...,"William L. Shirer, William L. Shirer","History, Nonfiction, War, World War II, Politi...",4.22,"146,617 ratings","4,718 reviews",Hitler boasted that The Third Reich would last...,https://www.goodreads.com/book/show/767171.The...
2,1776,"David McCullough, David McCullough","History, Nonfiction, American History, Histori...",4.10,"245,969 ratings","9,208 reviews","In this masterful book, David McCullough tells...",https://www.goodreads.com/book/show/1067.1776
3,Team of Rivals: The Political Genius of Abraha...,"Doris Kearns Goodwin, Doris Kearns Goodwin","History, Nonfiction, Biography, Politics, Amer...",4.28,"198,314 ratings","8,915 reviews",Winner of the Lincoln Prize\n\nAcclaimed histo...,https://www.goodreads.com/book/show/2199.Team_...
4,The Guns of August,"Barbara W. Tuchman, Barbara W. Tuchman","History, Nonfiction, War, World War I, Militar...",4.18,"83,727 ratings","3,844 reviews","The Proud Tower, the Pulitzer Prize–winning Th...",https://www.goodreads.com/book/show/40779082-t...

In [14]:
df.shape

(23006, 8)

## Data Preprocession

In [15]:
df.isnull().sum()

Title            44
Author           44
Genres         2288
Avg_Rating       44
Num_Ratings      44
Num_Reviews      44
Description     165
Book_URL          0
dtype: int64

In [16]:
df.dropna(inplace=True)

In [17]:
df.isnull().sum()

Title          0
Author         0
Genres         0
Avg_Rating     0
Num_Ratings    0
Num_Reviews    0
Description    0
Book_URL       0
dtype: int64

In [18]:
df.shape

(20676, 8)

In [19]:
df['Title'].duplicated().sum()

3234

In [20]:
df = df.drop_duplicates(subset='Title', keep='first')

In [21]:
df['Title'].duplicated().sum()

0

In [22]:
df.duplicated().sum()

0

In [23]:
df.shape

(17442, 8)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17442 entries, 0 to 23005
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        17442 non-null  object
 1   Author       17442 non-null  object
 2   Genres       17442 non-null  object
 3   Avg_Rating   17442 non-null  float64
 4   Num_Ratings  17442 non-null  object
 5   Num_Reviews  17442 non-null  object
 6   Description  17442 non-null  object
 7   Book_URL     17442 non-null  object
dtypes: float64(1), object(7)
memory usage: 1.2+ MB

In [25]:
df.isnull().sum()

Title          0
Author         0
Genres         0
Avg_Rating     0
Num_Ratings    0
Num_Reviews    0
Description    0
Book_URL       0
dtype: int64

In [26]:
df['Author']=df['Author'].apply(lambda x: ",".join(sorted(set(word.strip() for word in x.split(',')))))

In [27]:
df['Num_Ratings'] = df['Num_Ratings'].astype(str).str.replace(' ratings', '', regex=False).str.replace(',', '', regex=False)
df['Num_Ratings'] = pd.to_numeric(df['Num_Ratings'], errors='coerce')

In [28]:
df['Num_Reviews'] = df['Num_Reviews'].astype(str).str.replace(' reviews', '', regex=False).str.replace(',', '', regex=False)
df['Num_Reviews'] = pd.to_numeric(df['Num_Reviews'], errors='coerce')

In [29]:
df.head(2)

,Title,Author,Genres,Avg_Rating,Num_Ratings,Num_Reviews,Description,Book_URL
0,John Adams,David McCullough,"History, Biography, Nonfiction, American Histo...",4.08,375634.0,7691.0,"The enthralling, often surprising story of Joh...",https://www.goodreads.com/book/show/2203.John_...
1,The Rise and Fall of the Third Reich: A Histor...,William L. Shirer,"History, Nonfiction, War, World War II, Politi...",4.22,146617.0,4718.0,Hitler boasted that The Third Reich would last...,https://www.goodreads.com/book/show/767171.The...

In [30]:
df.to_csv(r"../Data/processed data/processed_data.csv", index=False)